<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href='/books'>Home</a>
    <a href='/logout'>log out</a>
    <h1>{{book.title}}</h1>
    <p>{{book.author.name}}</p>

    <h2>Reviews:</h2>
    {% for review in book.reviews.all %}
    <hr>
    <p>Rating: {{review.rating}}</p>
    <p><a href='/users/{{review.user.id}}'>{{review.user.first_name}}</a> says: {{review.review}}</p>
    <p>Posted on: {{review.created_at}}</p>
    {% if review.user.id == request.session.user_id %}
    <a href='/books/reviews/{{review.id}}/delete'>Delete this review</a>
    {% endif %}
    {% endfor %}
    <br>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <form action='/books/{{book.id}}/add_review' method='POST'>
    {% csrf_token %}
    <p>Review:</p>
    <textarea name='review' rows="4" cols="50" placeholder='Enter text here'></textarea>
    <p>Rating: </p>
    <select name='rating'>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
    </select><br>
    <input type='submit' value='submit review'>
    </form>
</body>
</html>